.nonheader{
  margin-top:50px;
}
.scriptborder{
border: 1px solid #dee2e6;
padding:20px;
word-break: break-all;
}
.summaryblock1 > table{
  width:100%;
}
.summaryblock1 > table > tbody > tr > td{
  border:1pt solid lightgrey !important;
  padding:20px;
}

.inputvia{
  word-break: break-all;
}
.tdnum{
  vertical-align: top;
}

.tdpadd{
  padding-left: 10px;
}
