.nonheader {
  margin-top: 50px;
}

.subtable > tbody > tr > td {
  border: 1pt solid lightgrey !important;
  padding: 15px;
  width: 100%;
}
.subtable {
  width: 100%;
}

.txslnum {
  background-color: #ebbc58;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.spendinfo0 > table > tbody > tr > td {
  background-color: #f9ffc4;
  border: 1pt solid lightgrey !important;
}
.spendinfo1 > table > tbody > tr > td {
  background-color: #f9ffc4;
  border: 1pt solid lightgrey !important;
}
.prevoutpoint0 > table > tbody > tr > td {
  background-color: #efefef;
  border: 1pt solid white !important;
}
.prevoutpoint1 > table > tbody > tr > td {
  background-color: #efefef;
  border: 1pt solid white !important;
}

.emptypagelink {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  cursor: not-allowed;
}

.arrows {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  cursor: pointer;
}

.page-link {
  cursor: pointer !important;
}

#back {
  text-align: right;
}
#txlist {
  width: 100%;
}
