.analyticsdateparamcheckbox > label:before{
  display:none;
  width:0px;
  height:0px;
  position: relative;
}

.analyticsdateparamcheckbox > label:after{
  display:none;
  width:0px;
  height:0px;
    position: relative;
}
.analyticsdateparamcheckbox > label{
  padding: 10px !important;
  margin-left: 10px;
  margin-right: 10px;
}
.analyticsdateparamcheckbox{
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 20px;
}
div.ui.checked.checkbox.analyticsdateparamcheckbox{
  background-color: #FBBD08;
}

div.ui.checkbox.analyticsdateparamcheckbox{
  background: #e0e1e2 none;

}
