.subtable > tbody > tr > td {
  border: 1pt solid lightgrey !important;
  padding: 15px;
  width: 100%;
}
.subtable {
  width: 100%;
}
.txslnum {
  background-color: #fafafa;
  padding: 10px;
}
.nopaddingtop {
  padding-top: 0px !important;
}
.nopaddingbottom {
  padding-bottom: 0px !important;
}
.horizontaldivider {
  border-top: 2px solid lightgrey;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.thinnerhorizontaldivider {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 10px;
  padding-bottom: 10px;
}
.nopadding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.spendinfo0 > table > tbody > tr > td {
  background-color: #f9ffc4;
  border: 1pt solid lightgrey !important;
}
.spendinfo1 > table > tbody > tr > td {
  background-color: #f9ffc4;
  border: 1pt solid lightgrey !important;
}
.prevoutpoint0 > table > tbody > tr > td {
  background-color: #efefef;
  border: 1pt solid white !important;
}
.prevoutpoint1 > table > tbody > tr > td {
  background-color: #efefef;
  border: 1pt solid white !important;
}
.arrows {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #007bff;
  background-color: #fff;
  border: 1px solid #dee2e6;
  cursor: pointer;
}
#txlist {
  width: 100%;
}
.summaryblock1 {
  border-right: 1pt solid lightgrey !important;
}
.tdborderbottom > tbody > tr > td {
  padding: 10px;
  border-bottom: 1pt solid lightgrey !important;
}
#previousblock,
#merkleroot,
#blockhash,
#nextblock,
#coinbasetx {
  word-break: break-all;
}
#refreshpage {
  padding: 10px;
}
#transactionsection {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: #f8f8f8;
  overflow: auto;
  width: auto;
  width: 100%;
}
.txrows {
  border-bottom: 1pt solid lightgrey;
}
.txrows > td {
  padding: 15px;
  font-size: 18px;
  text-align: left;
}
.pagenuminput {
  margin-left: 10px;
  margin-right: 10px;
}
.letter {
  text-align: center;
  background-color: #fbe1e2;
  cursor: pointer;
  display: inline-block;
  padding: 15px;
  border-radius: 5px;
  margin: 10px;
  color: #7e42ad;
  vertical-align: middle;
  font-size: 18px;
  width: 57px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.wordlist {
  text-align: center;
  background-color: #7e42ad;
  cursor: pointer;
  display: inline-block;
  padding: 5px 10px 5px 10px;
  border-radius: 35px;
  margin: 5px;
  color: white;
  vertical-align: middle;
  font-size: 18px;
  min-width: 100px;
}
.mnmargin {
  margin: 0px 5px 0px 5px;
}
#alphabets {
  padding: 0;
  margin: 0;
}
.mnemonic {
  color: gray;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  min-height: 38px;
  padding: 8px;
  border: 1px solid lightgrey;
  user-select: none;
}
#wordsremaining {
  float: right;
}
#suggestions {
  padding: 0px 20px 0px 20px;
  text-align: center;
}
.generalbtns {
  display: inline-block;
  font-weight: 400;
  color: white !important;
  text-align: center;
  margin: 15px;
  width: fit-content;
  text-decoration: none;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #eab300;
  animation-duration: 1.5s;
  position: relative;
  animation-name: buttonslide;
  transition: background-color 0.35s ease-in-out;
}
.generalbtns:hover {
  text-decoration: none;
  background-color: grey;
}
.txbtn {
  display: inline-block;
  font-weight: 400;
  color: white !important;
  text-align: center;
  /* margin: 15px !important; */
  width: 150px;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 0.375rem 0.75rem;
  font-size: 18px;
  line-height: 1.5;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: #eab300 !important;
  animation-duration: 1.5s;
  position: relative;
  animation-name: buttonslide;
  transition: background-color 0.35s ease-in-out;
}
.txbtn:hover {
  background-color: grey;
}
@keyframes buttonslide {
  from {
    top: -20px;
    opacity: 0.4;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
.summaryblock1 > table {
  width: 100%;
}
.summaryblock1 > table > tbody > tr > td {
  border: 1pt solid lightgrey !important;
  padding: 15px;
}
.explorerbuttoncolor {
  background-color: #007bff !important;
  color: white !important;
}
.noborder {
  border: none !important;
  box-shadow: none !important;
  margin: 0px !important;
}
.inputvia {
  word-break: break-all;
}
.tdnum {
  vertical-align: top;
  padding: 10px;
}
.tdpadd {
  padding-left: 10px;
}
.tdbordright {
  border-right: 1pt solid lightgrey !important;
}
.tdborderbottom > tbody > tr > td {
  border-bottom: 1pt solid lightgrey !important;
}
#blockhash {
  word-break: break-all;
}
#merklebranchsection {
  width: 100%;
}
#merklebranchsection > tbody > tr > td {
  width: fit-content;
  padding: 10px;
  border-bottom: 1pt solid lightgrey !important;
}
.outputinputtd > tbody > tr > td {
  border-bottom: 1pt solid lightgrey !important;
  padding: 10px;
}
.tdwordbreak {
  word-break: break-all;
}
.opacitywhileload {
  animation-duration: 2s;
  animation-name: opacityload;
}
@keyframes opacityload {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* tr,
th,
td {
  padding: 10px;
  text-align: center;
}
table {
  width: 100%;
  padding: 10px;
} */
.tablerowbottom {
  border-bottom: 1pt solid lightgrey;
}
.latestblocks {
  border: 1px solid rgba(0, 0, 0, 0.125);
  background: #f8f8f8;
  overflow: auto;
  width: auto;
}

.thborder {
  border-bottom: 1pt solid lightgrey;
}
#summarysection {
  border: 1pt solid lightgrey;
}
.page-link {
  cursor: pointer !important;
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #ed7464;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
.page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #ed7464;
  border-color: #ed7464;
}
.emptypagelink {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #ed7464;
  background-color: #fff;
  border: 1px solid #dee2e6;
  cursor: not-allowed;
}
.wordbreak {
  word-break: break-all;
}
.cen {
  position: absolute;
  left: 0;
  right: 0;
  top: 5px;
  text-align: center;
}

.dispnone {
  display: none;
}
.pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
}
.justify-content-center {
  -webkit-box-pack: center !important;
  -ms-flex-pack: center !important;
  justify-content: center !important;
}
.nosegmentmargin {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.removesegmentborder {
  border: 0px !important;
  box-shadow: none !important;
}

.removepaddingbottom {
  padding-bottom: 0px !important;
}

.paddtopbottom5px {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.verticaldivider {
  box-shadow: -2px 0 0 0 rgba(34, 36, 38, 0.15);
}

.paddbottom5px {
  padding-bottom: 5px !important;
}
.paddtopbottom0px {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.paddtopbottom25px {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}

.searchBoxAndButtons{
  margin-top:15px !important;
}
.noPaddingTopBottomFormobiles{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.dashboardSummaryForMobile{
  display: none !important;
}
.dashboardSummaryForOtherScreens{
  display: block !important;
}
@media screen and (max-width: 767px) {
  .alignLeftOnMobile{
    text-align: left;
  }
  .dashboardSummaryForMobile{
    display: block !important;
  }
  .dashboardSummaryForOtherScreens{
    display: none !important;
  }
}
