.passinputwidth {
  width: 60%;
}
.redalert {
  color: red;
  font-weight: bold;
}
.greenalert {
  color: green;
  font-weight: bold;
}
.custommargin {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.statusbutton {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.statusbarclosed {
  visibility: hidden;
  transition: all 0.35s ease-in-out;
}
.statusbaropen {
  visibility: visible;
}
.row {
  display: block;
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
}
.modal {
  position: fixed;
  top: unset;
  left: unset;
  z-index: unset;
  display: unset;
  width: unset;
  height: unset;
  overflow: unset;
  outline: unset;
}
.warning {
  color: #794b02;
}
.main {
  height: calc(100vh - 89px);
  padding: 1rem 0;
  overflow-x: auto;
}
.main > .container {
  height: 100%;
}
.profile .text {
  width: 14px;
  height: 14px;
  text-align: center;
}
.header .content .sub.header {
  min-height: 32px;
}
.code,
.monospace {
  font-family: 'Inconsolata', monospace !important;
}
.ui.accordion .title .dropdown.icon {
  vertical-align: middle;
}
.credit {
  color: #28a745 !important;
}
.debit {
  color: #dc3545 !important;
}
.nUTXO {
  color: #28a745;
}
.ui.transparent.label,
.ui.transparent.labels .label {
  background-color: transparent;
  border-radius: unset;
  padding-top: 0px;
  padding-bottom: 0px;
}
.ui.custom.label,
.ui.custom.labels .label {
  background-color: transparent;
  border-radius: unset;
}
.ui.plain.label {
  background: none #fff;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: none;
  padding: 0px;
}
.ui.plain.label > .icon {
  margin: 0;
}
.last-refresh {
  margin-right: 15px;
}
.ui.receive-modal.modal > .header {
  border: none;
}
.ui.receive-modal.modal > .close {
  top: 1.0535rem;
  right: 1rem;
  color: rgba(0, 0, 0, 0.87);
}
.ui.receive-modal.modal > .actions {
  background: none;
  border: none;
}
.word-wrap {
  overflow-wrap: break-word;
}
.statusbuttontext {
  position: absolute;
  bottom: 0px !important;
  vertical-align: top;
  left: 0px;
  background-color: #fbe1e2 !important;
  height: 22px;
  padding: 0px 5px 0px 5px !important;
  z-index: 999;
  color: #9173a8 !important;
}

.newpagefooter {
  position: absolute;
  bottom: 0px !important;
  vertical-align: top;
  left: 0px;
  padding: 0px 5px 0px 5px !important;
  z-index: 999;
  text-align: center;
  min-width: 100% !important;
  height: 22px;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.page-footer {
  text-align: center;
  height: 22px;
}
.page-footer-displayed {
  animation-duration: 1s;
  animation-name: statusdisplay;
}
.page-footer-hidden {
  animation-duration: 1s;
  animation-name: statushide;
}
@keyframes statusdisplay {
  from {
    left: -20px !important;
    opacity: 0;
  }

  to {
    left: 0px !important;
    opacity: 1;
  }
}
@keyframes statushide {
  from {
    left: 0px;
    opacity: 1;
  }

  to {
    left: -20px;
    opacity: 0;
  }
}
.ui.secondary.menu {
  margin-left: 0;
  margin-right: 0;
}
.progress-indicator {
  position: relative;
}
.progress-indicator-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.progress-indicator-step {
  background-color: #f1f1f1;
  border-radius: 50%;
  margin-left: 30px;
  margin-bottom: 5px;
  width: 10px;
  height: 10px;
}
.progress-indicator-fill {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 30px;
  border-radius: 5px;
  background-color: #fbbd08;
  transition: height 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.ui.basic.button.borderless {
  box-shadow: none;
}
.headertabitems {
  color: #9173a8 !important;
  box-shadow: 1px 1px 3px lightgrey !important;
  border-radius: 2px !important;
  z-index: 999;
}
.activeheader {
  background-color: #fbe1e2 !important;
}
.embed-data {
  cursor: pointer;
  color: #fbbd08;
}
.embed-data-json {
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: 1em;
}
.progressIndicatorStep {
  width: 10;
  height: 10;
}
.progressindicatorfill {
  width: 10;
  height: 10;
}
.coral {
  background-color: #ed7464 !important;
  color: white !important;
}

.coralinverted {
  box-shadow: 0 0 0 2px #ed7464 inset !important;
}
.purplefontcolor {
  color: #9173a8 !important;
}
.purplefontcolor > label {
  color: #9173a8 !important;
}
.peachfontcolor {
  color: #fbe1e2 !important;
}
.purple {
  background-color: #9173a8 !important;
  color: white !important;
}
.peach {
  background-color: #fbe1e2 !important;
  color: #9173a8 !important;
}
.page-header {
  background-color: none !important;
}
.backspace {
  background-color: #fbe1e2 !important;
  color: #9173a8 !important;
  border-radius: 2px !important;
  box-shadow: 2px 2px 5px !important;
  position: relative;
  display: inline-block !important;
  text-align: left !important;
}
.uneditableinput {
  border: 1px #888 solid;
  position: relative;
  white-space: nowrap;
  display: inline;
  border-right-width: 0px;
  line-height: 45px;
  font-weight: bold;
}
.searchname {
  border: 1px #888 solid !important;
  border-left-width: 0px !important;
  border-radius: 0px !important;
  padding-left: 0px !important;
}
.searchname > input {
  border: 1px #888 solid !important;
  border-radius: 0px !important;
}
.buyallpaybutton {
  background-color: #ed7464;
  color: white;
  padding: 8px 10px 8px 10px;
  border-radius: 4px;
  font-weight: bold;
  position: relative;
  float: right;
  margin-left: 10px;
  margin-right: 10px;
}

.buyallpaybutton:hover {
  color: white;
}
.buyallpaybuttonactive {
  display: none !important;
}
.ui.dropdown .menu > .item a,
.ui.dropdown .menu > .item span {
  color: #9173a8;
}
.ui.dropdown .menu > .item .active {
  color: grey;
}
.logoutlink {
  color: #dc3545 !important;
}
.welcometext {
  padding: 10px 0px 10px 0px;
  font-weight: bold;
  position: relative;
  bottom: -10px !important;
  font-size: 22px;
}
