@font-face {
  font-family: 'moonhouse';
  src: url('../fonts/Moonhouse.ttf') format('truetype');
}
.tonneLogo {
  font-family: 'moonhouse';
  color: #922fdf;
  padding: 15px 0px 15px 0px;
  font-size: 20px;
  font-weight: 700 !important;
}

.passinputwidth {
  width: 60% !important;
}
.inputWidth {
  width: max-content !important;
}
.redalert {
  color: red;
  font-weight: bold;
}
.greenalert {
  color: green;
  font-weight: bold;
}
.custommargin {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.statusbutton {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.statusbarclosed {
  visibility: hidden;
  transition: all 0.35s ease-in-out;
}
.statusbaropen {
  visibility: visible;
}
.row {
  display: block;
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
}
.warning {
  color: #794b02;
}
#root {
  height: 100%;
}
.main {
  vertical-align: middle !important;
  height: 100%;
}
.main > .container {
  height: 100%;
  padding: 100px 0px 100px 0px;
}
.profile .text {
  width: 14px;
  height: 14px;
  text-align: center;
}
.header .content .sub.header {
  min-height: 32px;
}
.code,
.monospace {
  font-family: 'Inconsolata', monospace !important;
}
.ui.accordion .title .dropdown.icon {
  vertical-align: middle;
}
.credit {
  color: #28a745 !important;
}
.debit {
  color: #dc3545 !important;
}
.nUTXO {
  border-bottom: 1px dashed;
}
.ui.transparent.label,
.ui.transparent.labels .label {
  background-color: transparent;
  border-radius: unset;
  padding-top: 0px;
  padding-bottom: 0px;
}
.ui.custom.label,
.ui.custom.labels .label {
  background-color: transparent;
  border-radius: unset;
}
.ui.plain.label {
  background: none #fff;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: none;
  padding: 0px;
}
.ui.plain.label > .icon {
  margin: 0;
}
.last-refresh {
  margin-right: 15px;
}
.ui.modal > .actions {
  background: none;
  border: none;
}
.ui.receive-modal.modal > .header {
  border: none;
}
.ui.receive-modal.modal > .close {
  top: 1.0535rem;
  right: 1rem;
  color: rgba(0, 0, 0, 0.87);
}
.word-wrap {
  word-wrap: anywhere;
}
.statusbuttontext {
  position: absolute;
  bottom: 0px !important;
  vertical-align: top;
  left: 0px;
  background-color: #fff3f3 !important;
  height: 22px;
  padding: 0px 5px 0px 5px !important;
  z-index: 999;
  color: #922fdf !important;
}
.newpagefooter {
  position: fixed;
  bottom: 0px !important;
  left: 0px;
  right: 0px;
  z-index: 999;
}
.page-footer {
  text-align: center;
  font-weight: bold;
  height: 23px;
  padding: 0px 15px 0px 15px;
}
.page-footer-displayed {
  animation-duration: 1s;
  animation-name: statusdisplay;
}
.page-footer-hidden {
  animation-duration: 1s;
  animation-name: statushide;
}
@keyframes statusdisplay {
  from {
    left: -20px !important;
    opacity: 0;
  }
  to {
    left: 0px !important;
    opacity: 1;
  }
}
@keyframes statushide {
  from {
    left: 0px;
    opacity: 1;
  }
  to {
    left: -20px;
    opacity: 0;
  }
}
.ui.secondary.menu {
  margin-left: 0;
  margin-right: 0;
}
.progress-indicator {
  position: relative;
}
.progress-indicator-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.progress-indicator-step {
  background-color: #f1f1f1;
  border-radius: 50%;
  margin-left: 30px;
  margin-bottom: 5px;
  width: 10px;
  height: 10px;
}
.progress-indicator-fill {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 30px;
  border-radius: 5px;
  background-color: #922fdf;
  transition: height 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.ui.basic.button.borderless {
  box-shadow: none;
}
.headertabitems {
  color: #922fdf !important;
  box-shadow: 1px 1px 3px lightgrey !important;
  border-radius: 2px !important;
  z-index: 999;
}
.activeheader {
  background-color: #fafafa !important;
}
.embed-data {
  cursor: pointer;
  color: #e1ad01;
}
.embed-data-json {
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: 1em;
  white-space: pre-wrap;
}
.progressIndicatorStep {
  width: 10px;
  height: 10px;
}
.progressIndicatorFill {
  width: 10px;
  height: 10px;
}
.coral {
  background-color: #ff7f7f !important;
  color: white !important;
}
.coralinverted {
  box-shadow: 0 0 0 2px #ff7f7f inset !important;
}
.purplefontcolor {
  color: #922fdf !important;
}
.purplefontcolor > label {
  color: #922fdf !important;
}
.peachfontcolor {
  color: #fff3f3 !important;
}
.purple {
  background-color: #922fdf !important;
  color: white !important;
}
.peach {
  background-color: #fff3f3 !important;
  color: #922fdf !important;
}
.page-header {
  position: fixed;
  z-index: 999;
  background-color: #fff3f3;
  width: 100%;
}
.backspace {
  background-color: #fff3f3 !important;
  color: #922fdf !important;
  border-radius: 2px !important;
  box-shadow: 2px 2px 5px !important;
  position: relative;
  display: inline-block !important;
  text-align: left !important;
}
.uneditableinput {
  border: 1px #888 solid;
  position: relative;
  white-space: nowrap;
  display: inline;
  border-right-width: 0px;
  line-height: 45px;
  font-weight: bold;
}
.searchname {
  border: 1px #888 solid !important;
  border-left-width: 0px !important;
  border-radius: 0px !important;
  padding-left: 0px !important;
}
.searchname > input {
  border: 1px #888 solid !important;
  border-radius: 0px !important;
}
.buyallpaybutton {
  background-color: #ff7f7f;
  color: white;
  padding: 8px 10px 8px 10px;
  border-radius: 4px;
  font-weight: bold;
  position: relative;
  margin-left: 0px;
  margin-right: 10px;
}
.buyallpaybutton:hover {
  color: white;
}
.buyallpaybuttonactive {
  display: none !important;
}
.ui.dropdown .menu > .item a,
.ui.dropdown .menu > .item span {
  color: #922fdf;
}
.ui.dropdown .menu > .item .active {
  color: grey;
}
.logoutlink {
  color: #dc3545 !important;
}
.welcometext {
  padding: 10px 0px 10px 0px;
  font-weight: bold;
  position: relative;
  bottom: -10px !important;
  font-size: 22px;
}
.ui.header:first-child {
  margin-top: 0;
}
.ui.header.generalheadingscolor {
  color: grey;
}
.ui.card.twitter-card {
  box-shadow: none;
}
.indicator {
  display: inline-block;
}
.indicator:first-letter {
  text-transform: capitalize;
}
.menuDropdown {
  background-color: #fff3f3 !important;
  height: auto !important;
  margin-top: auto !important;
  margin-bottom: auto !important;
  z-index: 999 !important;
  font-size: 25px !important;
  padding-left: 20px !important;
  padding-right: 0px !important;
}
.headerLogo {
  display: block;
  width: 100px;
  padding-left: 0px !important;
  margin-left: 0px !important;
}
.homeMainSection {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.marginLeftRightNone {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.menuDropDownItems {
  text-align: left !important;
  display: block !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.menuDropDownItems:hover {
  background-color: #fafafa !important;
}
.marginTopBottom0px {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.walletHomeDividerHorizontal {
  display: none;
}
.walletHomeDividerVertical {
  display: block;
}
.footerLeftCol {
  margin-left: 0%;
  float: left;
}
.footerRightCol {
  margin-right: 0%;
  float: right;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.balance {
  min-height: 32px;
}
.floatRightOnComp {
  float: right !important;
}
.ui.yellow.message.modal-message {
  box-shadow: none;
}
@media screen and (min-width: 455px) {
  .headerLogo {
    width: 150px;
  }
  .tonneLogo {
    font-size: 37px;
  }
  .footerLeftCol {
    margin-left: 18%;
  }
  .footerRightCol {
    margin-right: 18%;
  }
}
@media screen and (max-width: 405px) {
  .header {
    padding: 0px !important;
    margin-left: 0px !important;
  }
  .menuDropdown {
    padding-left: 8px !important;
    margin-right: 0px !important;
  }
  .bars {
    margin-right: 0px !important;
  }
  .headerWallet {
    min-width: auto !important;
    padding: 6px 12px 6px 12px !important;
  }
  .headerExplorer {
    min-width: auto !important;
    padding: 6px !important;
  }
  .noPaddingTopBottomFormobiles {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .passinputwidth {
    width: 100% !important;
  }
}
@media screen and (max-width: 767px) {
  .walletHomeDividerHorizontal {
    display: block;
  }
  .walletHomeDividerVertical {
    display: none;
  }
  .negativeMarginBottom {
    margin-bottom: -14px !important;
  }
  .floatRightOnComp {
    float: left !important;
  }
}

.paddingLeftRight14px {
  padding-left: 14px !important;
  padding-right: 14px !important;
}

.marginRightAuto {
  margin-right: auto !important;
  margin-left: 0px !important;
}

.marginLeftAuto {
  margin-left: auto !important;
  margin-right: 0px !important;
}

.coralButton {
  width: 150px !important;
}

.explorerIconForWallet {
  display: block;
  height: 20px;
  width: auto;
  borderradius: 100px;
}
body {
  overflow-y: scroll;
}
