.passinputwidth {
  width: 60%;
}
.redalert {
  color: red;
  font-weight: bold;
}
.greenalert {
  color: green;
  font-weight: bold;
}
.custommargin {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.statusbutton {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.statusbarclosed {
  visibility: hidden;
  transition: all 0.35s ease-in-out;
}
.statusbaropen {
  visibility: visible;
}
.row {
  display: block;
  flex-wrap: nowrap;
  margin-left: 0;
  margin-right: 0;
}
.modal {
  position: fixed;
  top: unset;
  left: unset;
  z-index: unset;
  display: unset;
  width: unset;
  height: unset;
  overflow: unset;
  outline: unset;
}
.warning {
  color: #794b02;
}
.main {
  height: calc(100vh - 89px);
  padding: 1rem 0;
  overflow-x: auto;
}
.main > .container {
  height: 100%;
}
.profile .text {
  width: 14px;
  height: 14px;
  text-align: center;
}
.header .content .sub.header {
  min-height: 32px;
}
.code,
.monospace {
  font-family: 'Inconsolata', monospace !important;
}
.ui.accordion .title .dropdown.icon {
  vertical-align: middle;
}
.credit {
  color: #28a745 !important;
}
.debit {
  color: #dc3545 !important;
}
.nUTXO {
  color: #28a745;
}
.ui.transparent.label,
.ui.transparent.labels .label {
  background-color: transparent;
  border-radius: unset;
  padding-top: 0px;
  padding-bottom: 0px;
}
.ui.custom.label,
.ui.custom.labels .label {
  background-color: transparent;
  border-radius: unset;
}
.ui.plain.label {
  background: none #fff;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  box-shadow: none;
  padding: 0px;
}
.ui.plain.label > .icon {
  margin: 0;
}
.last-refresh {
  margin-right: 15px;
}
.ui.receive-modal.modal > .header {
  border: none;
}
.ui.receive-modal.modal > .close {
  top: 1.0535rem;
  right: 1rem;
  color: rgba(0, 0, 0, 0.87);
}
.ui.receive-modal.modal > .actions {
  background: none;
  border: none;
}
.word-wrap {
  overflow-wrap: break-word;
}
.statusbuttontext {
  position: absolute;
  bottom: 0px !important;
  vertical-align: top;
  left: 0px;
  background-color: #fcd04a !important;
  height: 22px;
  padding: 0px 5px 0px 5px !important;
  z-index: 999;
  color: black !important;
}

.page-footer {
  text-align: center;
  height: 22px;
}
.page-footer-displayed {
  animation-duration: 1s;
  animation-name: statusdisplay;
}
.page-footer-hidden {
  animation-duration: 1s;
  animation-name: statushide;
}
@keyframes statusdisplay {
  from {
    left: -20px !important;
    opacity: 0;
  }

  to {
    left: 0px !important;
    opacity: 1;
  }
}
@keyframes statushide {
  from {
    left: 0px;
    opacity: 1;
  }

  to {
    left: -20px;
    opacity: 0;
  }
}
.ui.secondary.menu {
  margin-left: 0;
  margin-right: 0;
}
.progress-indicator {
  position: relative;
}
.progress-indicator-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.progress-indicator-step {
  background-color: #f1f1f1;
  border-radius: 50%;
  margin-left: 30px;
  margin-bottom: 5px;
  width: 10px;
  height: 10px;
}
.progress-indicator-fill {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 30px;
  border-radius: 5px;
  background-color: #fbbd08;
  transition: height 0.25s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.ui.basic.button.borderless {
  box-shadow: none;
}
.menu .item > a {
  color: rgba(0, 0, 0, 0.87);
}
.menu .item > .active {
  color: rgba(0, 0, 0, 0.6);
}
.embed-data {
  cursor: pointer;
  color: #fbbd08;
}
.embed-data-json {
  border: 1px solid rgba(34, 36, 38, 0.15);
  padding: 1em;
}
