.summaryblock1 > table {
  width: 100%;
}
.summaryblock1 > table > tbody > tr > td {
  border: 1pt solid lightgrey !important;
  padding: 15px;
}

.inputvia {
  word-break: break-all;
}
.tdnum {
  vertical-align: top;
  padding: 10px;
}

.tdpadd {
  padding-left: 10px;
}

.tdbordright {
  border-right: 1pt solid lightgrey !important;
}

.tdborderbottom > tbody > tr > td {
  border-bottom: 1pt solid lightgrey !important;
}

#blockhash {
  word-break: break-all;
}
#merklebranchsection {
  width: 100%;
}
#merklebranchsection > tbody > tr > td {
  width: fit-content;
  padding: 10px;
  border-bottom: 1pt solid lightgrey !important;
}
#back {
  text-align: right;
}
.outputinputtd > tbody > tr > td {
  border-bottom: 1pt solid lightgrey !important;
  padding: 10px;
}
.tdwordbreak {
  word-break: break-all;
}
